
<!-- After you have uploaded the document ot Wordpress, you will change the url that follows "href=" with the url that Wordpress provides -->

<a href="http://www.pathwayhealth.com/wp-content/uploads/2014/11/Pathway-Health-Services-DON-Table-of-Contents.doc">
	<span style="color: #ff0000;">
		<strong>
			<span class="btn Small">Download the table of contents</span>
		</strong>
	</span>
</a>